h1 {
  text-align: center;
}

#grid {
  width: 800px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  border: 1px solid black;
}

.cell {
  width: 8px;
  height: 8px;
}

.snake {
  background-color: black;
}

.ghost {
  background-color: gray;
}

.simpleFood {
  background-color: rgb(245, 16, 84);
}
.scoreBox {
  background-color: rgb(247, 232, 214);
  display: flex;
  position: absolute;
  height: 30px;
  width: 100px;
  align-items: center;
  border: 3px solid black;
}
.gameOver {
  /* display: none; */
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: lightyellow;
  text-align: center;
  font-size: 200px;
}
.hide {
  display: none;
}
